@media only screen and (max-width: 1024px) and (min-width: 600px) {
    nav{
        width: 90vw;
        height: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        flex-wrap: wrap;
        margin: 1.5vw;
        position: fixed;
        top: 0;
        z-index: 1000;
        border-radius: 20px;
        box-shadow: 0.5px 0.5px 50px #3030302f;
    }
    .nav-heading{
        margin-top: 17px;
    }
    .nav-left-side{
        gap: 0px;
        margin-left: -100px;
    }
}
